.accordion__trigger {
  @media (max-width: $vp-768) {
    padding-right: 30px;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 1px;
      background-color: $color-border-white;
      right: 0;
      top: 7px;
    }

    &::after {
      transform: rotate(90deg);
      transition: 0.6s linear;
    }

    &:focus,
    &:focus-visible {
      outline-offset: 2px;
      outline: 2px solid $color-default-white;
    }
  }
}

.accordion--open .accordion__trigger {
  @media (max-width: $vp-768) {
    &::after {
      transform: rotate(0deg);
      transition: 0.6s linear;
    }
  }
}

.accordion__content {
  @media (max-width: $vp-768) {
    max-height: 0;
    overflow: hidden;
    transition:
      padding-top 0.4s linear,
      max-height 0.4s linear;
  }
}

.accordion--open .accordion__content {
  @media (max-width: $vp-768) {
    padding-top: 18px;
    max-height: 1000px;
    transition:
      max-height 0.8s linear,
      padding-top 0.4s linear;
  }
}
