.accordion__trigger {
  @media (max-width: $vp-768) {
    padding-right: 30px;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 1px;
      background-color: $color-border-white;
      right: 0;
      top: 7px;
    }

    &::after {
      transform: rotate(90deg);
    }

    &:focus,
    &:focus-visible {
      outline-offset: 2px;
      outline: 2px solid $color-default-white;
    }
  }
}

.accordion--open .accordion__trigger {
  @media (max-width: $vp-768) {
    &::after {
      display: none;
    }
  }
}

.accordion__content {
  @media (max-width: $vp-768) {
    display: none;
  }
}

.accordion--open .accordion__content {
  @media (max-width: $vp-768) {
    display: grid;
  }
}
