.footer {
  padding: 50px 0 48px;
  background-color: $color-black-pearl;

  @media (max-width: $vp-768) {
    padding: 35px 0 35px;
  }
}

.footer__wrap {
  display: flex;
  flex-direction: row;

  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    flex-wrap: wrap;
  }

  @media (max-width: $vp-768) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.footer__logo-social-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 130px;

  @media (min-width: $vp-1024) and (max-width: $vp-1920) {
    margin-right: auto;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 35px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: $vp-768) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__logo-link {
  width: 215px;
  min-height: 55px;
  margin-bottom: 30px;

  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    margin-bottom: 0;
    margin-right: 0;
  }

  @media (max-width: $vp-768) {
    display: flex;
    justify-content: center;
    margin-left: -2px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__social {
  width: 150px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 40px 40px 40px;
  gap: 15px;

  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    width: auto;
    max-width: 350px;
    margin-left: 0;
    margin-right: -5px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px;
  }

  @media (max-width: $vp-768) {
    max-width: 260px;
    width: auto;
    margin-left: 4px;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

.footer__social-item {
  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    width: 40px;
  }

  @media (max-width: $vp-768) {
    width: 40px;
  }
}

.footer__social-link {
  padding: 5px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__navigation {
  padding-top: 7px;
  margin-left: 30px;
  margin-right: 30px;

  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  @media (max-width: $vp-768) {
    position: relative;
    padding-top: 21px;
    padding-bottom: 24px;
    margin-left: 0;
    margin-right: 0;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: calc(100% + 50px);
      height: 100%;
      margin-left: -25px;
      border-top: 1px solid $color-border-white;
      border-bottom: 1px solid $color-border-white;
    }
  }
}

.footer__navigation h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-alice-blue;

  @media (max-width: $vp-768) {
    margin-bottom: 0;
  }
}

.footer__nav-list {
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: 220px auto;
  row-gap: 7px;
  column-gap: 30px;

  @media (min-width: $vp-1024) and (max-width: $vp-1920) {
    grid-template-columns: 220px auto;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    grid-template-columns: 220px;
  }

  @media (max-width: $vp-768) {
    grid-template-columns: 220px;
  }
}

.footer__nav-item {
  @media (min-width: calc($vp-1024 + 1px)) {
    &--montage {
      order: 5;
    }

    &--contacts {
      order: 4;
    }

    &--production {
      order: 3;
    }

    &--products {
      order: 2;
    }

    &--delivery {
      order: 2;
    }
  }
}

.footer__nav-link {
  color: $color-white-transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;

  @media (max-width: $vp-768) {
    font-size: 14px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__contacts {
  margin-left: 95px;
  padding-top: 7px;

  @media (min-width: $vp-1024) and (max-width: $vp-1920) {
    margin-left: auto;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    padding-top: 0;
    margin-left: 131px;
  }

  @media (max-width: $vp-768) {
    position: relative;
    margin-left: 0;
    padding-top: 21px;
    padding-bottom: 16px;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: calc(100% + 50px);
      height: 100%;
      margin-left: -25px;
      border-bottom: 1px solid $color-border-white;
    }
  }
}

.footer__contacts h2 {
  margin-top: 0;
  margin-bottom: 23px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-alice-blue;

  @media (max-width: $vp-768) {
    margin-bottom: 0;
  }
}

.footer__contacts-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  row-gap: 9px;
}

.footer__contacts-phone,
.footer__contacts-address {
  color: $color-white-transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;

  @media (max-width: $vp-768) {
    font-size: 14px;
  }
}

.footer__contacts-phone {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__contacts-address {
  font-style: normal;

  @media (max-width: $vp-768) {
    margin-bottom: 7px;
  }
}
