.form {
  background-color: $color-deep-sky-blue;
  background-image: url("../img/background/polygon.png");
  background-size: 50%;
  background-position: top left;
  background-repeat: no-repeat;

  @media (max-width: $vp-1024) {
    background-image: none;
  }

  &--modal {
    background-image: none;
  }
}

.form__wrap {
  position: relative;
  padding-top: 166px;
  padding-bottom: 249px;
  padding-left: 620px;

  @media (min-width: $vp-1024) and (max-width: $vp-1920) {
    padding-left: 45%;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    padding-top: 46px;
    padding-bottom: 125px;
    padding-left: 0;
  }

  @media (max-width: $vp-768) {
    padding-top: 46px;
    padding-bottom: 83px;
    padding-left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 510px;
    height: 285px;
    background-image:
      image-set(
        url("../img/background/paper-airplane@1x.webp") 1x,
        url("../img/background/paper-airplane@2x.webp") 2x,
        url("../img/background/paper-airplane@1x.png") 1x,
        url("../img/background/paper-airplane@2x.png") 2x
      );
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: 246px;

    @media (min-width: $vp-1024) and (max-width: $vp-1920) {
      width: 38%;
    }

    @media (max-width: $vp-1024) {
      display: none;
    }
  }
}

.form form {
  width: 595px;
  margin-left: auto;

  @media (max-width: $vp-1920) {
    width: 100%;
  }
}

.form h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    margin-bottom: 6px;
  }

  @media (max-width: $vp-768) {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 9px;
  }
}

.form--modal h3 {
  @media all {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 15px;
  }
}

.form p {
  margin-top: 0;
  margin-bottom: 35px;
  margin-left: 4px;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    margin-bottom: 25px;
    margin-left: 0;
  }

  @media (max-width: $vp-768) {
    font-size: 14px;
    line-height: 19px;
    margin-left: 0;
    margin-bottom: 33px;
  }
}

.form--modal p {
  @media all {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
    margin-left: 0;
  }
}

.form__elements-wrap {
  width: 580px;
  margin-bottom: 35px;
  margin-left: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;

  @media (min-width: $vp-1024) and (max-width: $vp-1920) {
    width: auto;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    width: auto;
    margin-left: 0;
    margin-bottom: 36px;
  }

  @media (max-width: $vp-768) {
    grid-template-columns: 1fr;
    gap: 20px;
    width: auto;
    margin-left: 0;
    margin-bottom: 30px;
  }

  &--modal {
    @media all {
      grid-template-columns: 1fr;
      gap: 20px;
      margin-left: 0;
      margin-bottom: 25px;

      .form__field-wrap--textarea {
        grid-column: 1;
      }
    }
  }
}

.form textarea,
.form input {
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: $color-form-black-transparent;
  color: $color-black-pearl;

  &::placeholder {
    color: $color-default-white;
  }
}

.form textarea {
  display: block;
  min-height: 155px;
  padding: 25px 15px;

  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    padding-top: 31px;
  }

  @media (max-width: $vp-768) {
    min-height: 180px;
    padding-top: 25px;
  }
}

.form--modal textarea {
  @media all {
    display: block;
    min-height: 155px;
    padding: 25px 15px;
  }
}

.form input {
  min-height: 50px;
  padding: 15px 15px;
}

.form__button-wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  @media (max-width: $vp-768) {
    flex-direction: column-reverse;
  }

  &--modal {
    flex-direction: column-reverse;
  }
}

.form button {
  min-height: 45px;
  width: 265px;
  margin-left: 6px;
  margin-right: 50px;
  padding: 13px 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: $color-black-pearl;
  border: none;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;

  @media (min-width: $vp-768) and (max-width: $vp-1024) {
    margin-left: 0;
    margin-right: 85px;
  }

  @media (max-width: $vp-768) {
    width: 100%;
    margin-left: 0;
    margin-right: 85px;
    margin-bottom: 25px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.form--modal button {
  @media all {
    margin-left: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}

.form__field-wrap {
  position: relative;

  &.is-invalid {
    input,
    textarea {
      border: 2px solid rgba(#ff2b2b, 0.8);

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff2b2b, 0.5);
      }
    }
  }

  &--textarea {
    grid-column: 1 / 3;

    @media (max-width: $vp-768) {
      grid-column: 1 span;
    }
  }

  &--checkbox {
    align-self: flex-end;

    @media (min-width: $vp-768) and (max-width: $vp-1024) {
      margin-bottom: 4px;
    }

    @media (max-width: $vp-768) {
      margin-bottom: 4px;
      margin-left: 5px;
      align-self: flex-start;
    }

    &.is-invalid {
      label {
        color: rgba(#ff2b2b, 0.8);
        opacity: 100%;
        font-weight: 500;
      }
    }
  }

  &--checkbox input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &--checkbox label {
    position: relative;
    display: block;
    max-width: 230px;
    padding-left: 25px;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
    opacity: 0.8;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 2px;
      border: 1px solid $color-default-white;
      top: 7px;
      left: 0;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--checkbox input:checked + label {
    &::before {
      background: url("../img/svg/check.svg") center no-repeat;
    }
  }

  &--checkbox input:focus + label {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 7px;
  }
}

.form__button-wrap--modal .form__field-wrap--checkbox {
  align-self: center;
}

.form__field-wrap--modal label {
  max-width: none;
  cursor: pointer;

  &::before {
    top: 0;
  }
}

.input-message {
  position: absolute;
  left: 0;
  bottom: -22px;
  font-size: 12px;

  &.is-invalid {
    color: $color-default-white;
  }
}


