.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $vp-1024) and (max-width: $vp-1920) {
    padding: 0 50px;
  }

  @media (max-width: $vp-1024) {
    padding: 0 50px;
  }

  @media (max-width: $vp-768) {
    padding: 0 25px;
  }
}
