// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;

// Project palette

$color-deep-sky-blue:               #00b2ff;
$color-black-pearl:                 #041827;
$color-alice-blue:                  #f2f5f6;

$color-border-light-gray:           #ebebeb;
$color-border-white:                rgba(248, 253, 255, 0.7);

$color-white-transparent:           rgba(255, 255, 255, 0.7);
$color-black-transparent:           rgba(4, 24, 39, 0.5);
$color-modal-black-transparent:     rgba(3, 16, 27, 0.7);


// Gradient

$black-to-bottom:                   linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-770:                            770px;
$vp-1920:                           1920px;
